.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Arial, sans-serif;
    background-color: #2f2d2d;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: inline-block;
    width: 150px;
    margin-left: 10px;

}
.build-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Arial, sans-serif;
    background-color: #00000015;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: inline-block;
    margin-right: 40px;
    margin-left: 15px;
    width: 150px;
}

.submit-btn:hover {
    background-color: #333;
}
.build-btn:hover {
    background-color: #333;
}
