/*
    -------------------------------------------
    CUSTOM STYLES FOR REGISTER.HTML (Task 7)
    -------------------------------------------
*/

/* Override: ขยายความกว้างของกล่อง Register ให้กว้างขึ้นเพื่อรองรับ input ที่มากขึ้น */
.register-box {
    max-width: 550px; 
}

/* ปรับปรุง: สไตล์สำหรับ textarea (Address) ให้สามารถปรับขนาดได้ */
.form-group textarea {
    resize: vertical; 
}
.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #2f2d2d;
    color: #FAFAFA;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 150px;
    margin-left: 130px;
}